header { 
    
    text-align: center;
}

body {
    background-color: background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color:azure

}

img {
    width: 300px;   
}

main {
    text-align: center;
}

img {
    width: 250px;
}


